﻿
@{
    ViewBag.Title = "Aboutme";
}

<h2>姓名:余憶心</h2>

<h2>學號:410517980</h2>

<ol>
    @foreach (var item in (string[])ViewData["Data"])
    {
        <li>
            @item
        </li>
    }
</ol>





